/***********************************************************/
/* Geneali */
/***********************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

a {
  text-decoration: none;
  cursor: pointer;
  color: grey;
}

h3 {
  margin: 19.5px 0;
  color: white;
}

li {
  list-style-type: none;
  margin: 3px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flexShop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.principalContainer {
  width: 70%;
  margin: 30px auto;
  position: relative;
}

.principalContainerHeader {
  width: 70%;
  margin: 2px auto;
}

/***********************************************************/
/* Header */
/***********************************************************/

header {
  background-color: rgb(249, 249, 249);
}
/* Logo principale */
#logo {
  max-width: 7%;
  padding: 20px 0;
  transition: 0.5s;
}

/* Logo Hover */
#logo:hover {
  cursor: pointer;
  transform: scale(1.2) rotate(-20deg);
  transition: 0.5s;
}

/* Contenitore Header */
.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav */
.principalNav {
  display: flex;
  align-items: center;
}

/* Nav Li Tag */
.principalNav li {
  font-size: 12px;
  font-weight: bold;
  padding: 5% 6px;
  letter-spacing: -0.2px;
  transform: scaleY(1.3);
}


/* Nav Li Hover */
.principalNav li a:hover {
  color: #0282f9;
  transform: scale(1.3);
}

/* Jumbotron */
.jumbotron {
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
  height: 300px;
}

/***********************************************************/
/* Main Contenuto */
/***********************************************************/

/* Sfondo nero */
.sfondoNero {
  color: rgb(0, 0, 0);
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
}

/* Card */
.card {
  width: calc((100% / 6) - (100px / 6));
  margin: 10px 0;
  transition: 1s;
}

.card img {
  max-width: 100%;
}

.card span {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: center;
}

/* Hover Card */
.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
  box-shadow: 1px 1px 20.5px 3.5px blue;
}

/* Bottone */
.principalContainer button {
  color: white;
  border: 0;
  padding: 16px;
  width: 150px;
  background-color: #0282f9;
  margin-bottom: 20px;
  transition: 1s;
}

/* Bottone Hover */
.principalContainer button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 1s;
  box-shadow: 1px 1px 20.5px 3.5px rgb(3, 11, 239);
}

/* Label */
.label {
  color: white;
  text-align: center;
  position: absolute;
  width: 170px;
  padding: 10px;
  background-color: #0282f9;
  right: 85%;
  top: -7%;
}

/***********************************************************/
/* Sezione Shop*/
/***********************************************************/

/* Sfondo blu */
.sfondoBlu {
  background-color: #0282f9;
}

/* Contenitore Shop */
.shopContainer {
  width: 70%;
  margin: 0 auto;
}

/* link destra immagini */
.shopLink {
  font-size: 12px;
  color: white;
}

/*Link hover*/
.shopLink:hover {
  color: black;
}

/* Immagine Shop */
.imgShop {
  display: flex;
  justify-content: space-around;
}

/* Immagini shop */
.imgShop li img {
  vertical-align: middle;
  max-width: 20%;
  margin: 20px 15px;
}

/* Ultimo Li */
.imgShop li:last-child {
  max-width: 23%;
}

/***********************************************************/
/*Footer Nav*/
/***********************************************************/

/* Sfondo immagini */
.sfondoImg {
  background-image: url("/img/dc-logo-bg.png"), url("/img/footer-bg.jpg");
  background-position: 80% center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 35%, cover;
}

/* Nav */
.grid {
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 20px 0;
  margin: 0 auto;
}

/* Hover sul footer  */
.footerNav li a:hover {
  color: #0282f9;
}

/***********************************************************/
/*Footer*/
/***********************************************************/

/* Sfondo footer */
.sfondoFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #303030;
}

/* Bottone */
.signBtn {
  font-weight: 600;
  color: white;
  border: 2px solid #0282f9;
  background-color: transparent;
  padding: 10px;
  transition: 0.5s;
}

/* Hover sul bottone */
.signBtn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* Testo Follow US */
.followText {
  color: #0282f9;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.2px;
  vertical-align: super;
  margin-right: 10px;
}

/* Immagini Social Footer */
.social {
  margin: 0 7px;
  transition: 0.1s;
}

/* Hover su immagine Social */
.social:hover {
  background-color: #0282f9;
  border-radius: 100%;
  transform: scale(1.3);
  transition: 0.1s;
}
